/*
Importing the CSS from the Spectrum CSS library.
*/
@import "@spectrum-css/vars/dist/spectrum-global.css";
@import "@spectrum-css/vars/dist/spectrum-medium.css";
@import "@spectrum-css/vars/dist/spectrum-light.css";
@import "@spectrum-css/tokens/dist/index.css";
@import "@spectrum-css/actionbutton/dist/index-vars.css";
@import "@spectrum-css/clearbutton/dist/index-vars.css";
@import "@spectrum-css/page/dist/index-vars.css";
@import "@spectrum-css/textfield/dist/index-vars.css";
@import "@spectrum-css/search/dist/index-vars.css";
@import "@spectrum-css/treeview/dist/index-vars.css";
@import "@spectrum-css/button/dist/index-vars.css";
@import "@spectrum-css/actiongroup/dist/index-vars.css";
@import "@spectrum-css/actionbutton/dist/index-vars.css";
@import "@spectrum-css/menu/dist/index-vars.css";
@import "@spectrum-css/popover/dist/index-vars.css";
@import "@spectrum-css/divider/dist/index-vars.css";
@import "@spectrum-css/datepicker/dist/index-vars.css";
@import "@spectrum-css/picker/dist/index-vars.css";
@import "@spectrum-css/pickerbutton/dist/index-vars.css";
@import "@spectrum-css/calendar/dist/index-vars.css";
@import "@spectrum-css/typography/dist/index-vars.css";
@import "@spectrum-css/card/dist/index-vars.css";
@import "@spectrum-css/progressbar/dist/index-vars.css";
@import "@spectrum-css/stepper/dist/index-vars.css";
@import "@spectrum-css/fieldlabel/dist/index-vars.css";
@import "@spectrum-css/taggroup/dist/index-vars.css";
@import "@spectrum-css/tag/dist/index-vars.css";
@import "@spectrum-css/switch/dist/index-vars.css";
@import "@spectrum-css/fieldgroup/dist/index-vars.css";
@import "@spectrum-css/checkbox/dist/index-vars.css";
@import "@spectrum-css/asset/dist/index-vars.css";
@import "@spectrum-css/dialog/dist/index-vars.css";
@import "@spectrum-css/radio/dist/index-vars.css";
@import "@spectrum-css/quickaction/dist/index-vars.css";
@import "@spectrum-css/buttongroup/dist/index-vars.css";
@import "@spectrum-css/closebutton/dist/index-vars.css";
@import "@spectrum-css/modal/dist/index-vars.css";
@import "@spectrum-css/helptext/dist/index-vars.css";
@import "@spectrum-css/table/dist/index-vars.css";
@import "@spectrum-css/icon/dist/index-vars.css";
@import "@spectrum-css/steplist/dist/index-vars.css";

@import "./ui-styles.css";

/*
@spectrum-css overrides
*/

.spectrum-TreeView-itemLink {
    overflow: visible;
}

[dir="ltr"] .spectrum-TreeView-itemIndicator {
    margin-left: calc(-1 * var(--spectrum-treeview-item-affordance-size));
}

.spectrum-DatePicker-textfield {
    --spectrum-textfield-border-color: rgb(0, 0, 0);
    --spectrum-textfield-border-width: 1px;
    max-width: 158px;
    display: flex;
}

.spectrum-Stepper {
    min-width: 100px;
    --mod-actionbutton-icon-size: 10px;
}

.ribbon .spectrum-Stepper > .spectrum-Textfield {
    --spectrum-textfield-border-color: rgb(0, 0, 0);
    --spectrum-textfield-border-width: 1px;
    min-width: 30px;
}

/*
Layout CSS for the UI.
*/

.main-ui {
    display: grid;
    grid-template-columns: 3% 22% 75%;
    grid-template-rows: 50px 50px minmax(0, 100%);
    height: 100vh;
}

.top-bar {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    max-height: 50px;
}

.context-help-popover-body {
    max-width: 150px;
    padding: 10px;
    top: 30px;
}

.profile-card-popover {
    padding: 5px;
    top: 30px;
    width: 150px;
}

.todo-area {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.ribbon {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 5px;
    margin: 5px 3px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 40px;
}

.ribbon-divider {
    height: 75%;
}

.analytics-bar {
    width: 200px;
}

.date-picker-popover {
    position: absolute;
    width: 280px;
    top: 100%;
    left: 0px;
}

.filter-input {
    max-width: 150px;
}

.tree-area {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
    overflow-y: scroll;
    padding-left: 5px;
}

.task-list-icon {
    padding-left: 14px;
}

.show-more {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    align-self: center;
}
/* send reminder popover */

/* 3 */
.ribbon > div:nth-child(1) > button:nth-child(1) {
    background-color: #b83f45;
}
/* Analytics popover */
/* 3 */
.ribbon > div:nth-child(1) > .spectrum-Popover .team-1-progress > :last-child div {
    background-color: orangered;
}
/* 3 */
.ribbon > div:nth-child(1) > .spectrum-Popover .team-2-progress > :last-child div {
    background-color: orange;
}
/* 3 */
.ribbon > div:nth-child(1) > .spectrum-Popover .team-3-progress > :last-child div {
    background-color: greenyellow;
}
/* 3 */
.ribbon > div:nth-child(1) > .spectrum-Popover .team-4-progress > :last-child div {
    background-color: green;
}
/* Backlog popover */
/* 2 */
.ribbon div div div div table label {
    color: #484848;
    border-top-color: rgba(140, 140, 140, 0.001);
    border-color: rgba(140, 140, 140, 0.001);
}

/* FilterPopOver */
/* Sprint One field */
.ribbon > div:nth-child(5) > .spectrum-Popover > div > div:nth-child(1) > div {
    max-width: 150px;
}
/* 3 */
.ribbon > div:nth-child(5) > .spectrum-Popover > div > div:nth-child(1) label {
    padding-top: 1px;
    padding-bottom: 1px;
}
/* 2 */
.ribbon > div:nth-child(5) > .spectrum-Popover .spectrum-Stepper label {
    margin-left: 3px;
    margin-right: 3px;
}
/* 2 */
.ribbon > div:nth-child(5) > .spectrum-Popover .spectrum-TagGroup div {
    padding-right: 6px;
}
/* 2 */
.ribbon > div:nth-child(5) > .spectrum-Popover > div > div:nth-child(4) > div {
    margin-left: 20px;
}
/* 2 */
.ribbon .spectrum-Stepper span button {
    padding-left: 3px;
}

/* 3 */
.show-more > div > ul li:hover {
    border-color: #db7676;
}
/* 2 */
.show-more > div > ul li:nth-child(7) {
    background-color: #c18585;
}

/* settings icon popover */
/* 3 */
.top-bar > .top-bar-right > div > div > ul li:hover {
    border-color: #db7676;
}
/* 3 */
.top-bar > .top-bar-right > div > div > ul li:nth-child(2) {
    background-color: #c18585;
}

/* Notifications popover */
/* 0 */
.notifications-list {
    max-width: 240px;
}
/* 0 */
.top-bar .notifications-list {
    padding-inline-start: 0;
    list-style-type: none;
    margin-bottom: 0;
}
/* 2 */
.top-bar .notifications li {
    padding-left: 0;
    margin-bottom: 4px;
}
/* 2 */
.top-bar .notifications-list > :first-child {
    border: 3px solid red;
}
/* 3 */
.top-bar .notifications-list > :first-child ~ li {
    border: 3px solid greenyellow;
}
/* 3 */
.top-bar .notifications-list > :first-child + li {
    border: 3px solid yellow;
}
/* 4 */
.top-bar .notifications-list li > div > :nth-child(2) {
    margin-left: 4px;
}
/* 4 */
.top-bar .notifications-list > li > div > label {
    padding-left: 4px;
    padding-right: 4px;
}
/* 4 */
.top-bar .notifications-list > li > div > :last-child {
    font-size: 8px;
}
/* 3 */
.top-bar .notifications-list > li div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}
/* 3 */
.top-bar .notifications-list > li :first-child {
    grid-column-start: 1;
    grid-column-end: 2;
}
/* 0 */
.top-bar .notification-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
/* 2 */
.top-bar .notification-tabs > div + div {
    border-bottom: 2px solid #b83f45;
}
/* 2 */
.top-bar .notification-actions > button {
    width: 96px;
    font-size: 10px;
}
/* 2 */
.top-bar .notification-actions > button:hover {
    color: #b83f45;
}
/* 5 */
.top-bar .notifications-list .completed > div > input:checked ~ label {
    text-decoration: line-through;
    color: #b83f45;
}
/* 2 */
.top-bar .notifications-list li:hover {
    background-color: lightgrey;
    opacity: 1;
}
