

/* 3 */
.high-priority > :checked ~ label {
  color: red;
}

/* 3 */
.high-priority:hover > :checked ~ label {
  color: red;
}

/* 1 */
.reminder-pop-over  [type="text"]input {
  width: auto;
}

/* 4 */
.reminder-pop-over > * > :nth-child(3) > div,
.reminder-pop-over > * > :nth-child(4) > div {
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
}

/* 3 */
.is-invalid ~ * button {
  visibility: hidden;
}

.reminder-pop-over {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/* Backlog PopOver */

.backlog-pop-over > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* 3 */
.backlog-pop-over  li > div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: 1fr;
}

/* 4 */
.backlog-pop-over li > div > :last-child {
    justify-self: end;
    line-height: var(--spectrum-checkbox-line-height);
    margin-block-start: var(--spectrum-checkbox-top-to-text);
    margin-inline-start: var(--spectrum-checkbox-text-to-control);
    grid-column-start: 4;
    grid-column-end: 5;
}

/* 3 */
.backlog-pop-over li > div > :first-child {
    grid-column-start: 1;
    grid-column-end: 2;
}

/* 3 */
.backlog-pop-over li > div > :nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
}

/* 3 */
.backlog-pop-over li > div > :nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
}

/* 5 */
.backlog-pop-over li > div > :checked ~ label{
    text-decoration: line-through;
}

/* 5 */
.backlog-pop-over li :checked ~ div > * {
    color: white;
}

/* 4 */
.backlog-pop-over li :last-child button {
    background-color: white;
    border-color: black;
    border-width: 1px;
}