body {
  max-width: 800px;
}

.todoapp {
  width: 100%;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}  

.absolutely-positioned-element {
  justify-content: center;
  min-height: 619px;
}

.todo-area{
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}